<a href="https://colab.research.google.com/github/vedikachalke23/python-programming-2/blob/main/week2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

SECTION A

In [ ]:
def num(x,y,z,) :
  if x == y and x == z:
    return 3
  elif x==y or x==z:
    return 2
  else:
    return 0
print(num(2,1,3))

0

In [ ]:
dict = { 'Vedika': 13, 'neha': 19, 'mehmood': 44 }
list = [(a, b) for a, b in dict.items()]
print(sorted(list))

[('Vedika', 13), ('mehmood', 44), ('neha', 19)]

In [ ]:
list = ['v','e','d','i','k','a']
a = {}

for letters in list:
  b = letters.upper()
  a.update({letters:b})
print(a)

{'v': 'V', 'e': 'E', 'd': 'D', 'i': 'I', 'k': 'K', 'a': 'A'}

In [ ]:
print("Enter the String: ")
str = input()

print("Enter a character: ")
char = input()

newstr = ""
for i in range(len(str)):
    if str[i]=='a' or str[i]=='e' or str[i]=='i' or str[i]=='o' or str[i]=='u':
        newstr = newstr + char
    else:
        newstr = newstr + str[i]

print("\nOriginal String:", str)
print("New String:", newstr)

Enter the String:
vedika
Enter a character:
*

Original String: vedika
New String: v*d*k*

In [ ]:
def ascii(st):
  res=[]
  for index, c in enumerate(st):
    if index%2==0:
      res.append(c.upper())
    else:
      res.append(c.lower())
  return''.join(res)
print(ascii("Vedika"))

VeDiKa

SECTION B

In [ ]:
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

In [ ]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [ ]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [ ]:
def convertTemp(c):
   f = (c * 1.8) + 32
   return f
    

cel = float(input('Enter temperature in Celsius: '))


fahr = convertTemp(cel)
print('%0.1f degrees Celsius is equivalent to %0.1f degrees Fahrenheit' %(cel, fahr))

Enter temperature in Celsius: 23
23.0 degrees Celsius is equivalent to 73.4 degrees Fahrenheit

In [ ]:
def kilometre_1(km):  
    conversion_ratio_1= 0.621371  
    miles_1 = km * conversion_ratio_1  
    print ("The speed value of car in Miles: ", miles_1)  
km = float (input ("Please enter the speed of car in Kilometre as a unit: "))  
kilometre_1(km)

Please enter the speed of car in Kilometre as a unit: 100
The speed value of car in Miles:  62.137100000000004