<a href="https://colab.research.google.com/github/vedikachalke23/python-programming-2/blob/main/week_3_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

SECTION A

In [ ]:
def evenly_sum(a,b,c):
  sum1 = []
  add1 =0
  for i in range(a,b+1):
    if i%c==0:
      sum1.append(i)
    else:
      pass
  if sum(sum1)==0:
    print("No number between",a,"and",b,"can be evenly divided by",c,".")
  else:
    total=sum(sum1)
    print("thse sum of the number that are evenly divided by",c,"from the range",a,"to",b,"is",total)       
evenly_sum(1,10,20)
evenly_sum(1,10,2)
evenly_sum(1,10,3)

No number between 1 and 10 can be evenly divided by 20 .
thse sum of the number that are evenly divided by 2 from the range 1 to 10 is 30
thse sum of the number that are evenly divided by 3 from the range 1 to 10 is 18

In [ ]:
def equality(a):
  exp =eval(a)
  if exp==True:
    print("the expression",exp,"is true")
  else:
    print("the expression",exp,"is false")  
equality("3<7<11")
equality("13>44>33>1")
equality("1<2<6<9<3")

the expression True is true
the expression False is false
the expression False is false

In [ ]:
def ReplaceVowels(st1,v):
  vowels ='aeiou'
  stri =st1
  for i in vowels:
    st1 = st1.replace(i,v)
  print("after replacing vowels from(",stri,")with the specified character (",v,")the new variable is:",st1)
ReplaceVowels("the aardvark","#")
ReplaceVowels("minnie mouse","?")
ReplaceVowels("shakespeare","*")

after replacing vowels from( the aardvark )with the specified character ( # )the new variable is: th# ##rdv#rk
after replacing vowels from( minnie mouse )with the specified character ( ? )the new variable is: m?nn?? m??s?
after replacing vowels from( shakespeare )with the specified character ( * )the new variable is: sh*k*sp**r*

In [ ]:
def factorial(num):
  factorial =1
  if num < 0:
    print("there is no factorial of negative number")
  elif num== 0:
    print("the factorial of 0 is 1")
  else:
    for i in range (1,num+1):
      factorial = factorial*i
    print("the factorial of",num,"is",factorial)
factorial(5)
factorial(3)
factorial(1)
factorial(0)

the factorial of 5 is 120
the factorial of 3 is 6
the factorial of 1 is 1
the factorial of 0 is 1

In [ ]:
def hamdist(str1,str2):
  i=0
  count=0
  while(i<len(str1)):
    if(str1[i] !=str2[i]):
      count +=1
    i +=1
  print("hamming distance between",str1,"&",str2,"is:",count)
hamdist("abcde","bcdef")      
hamdist("abcde","abcde")      
hamdist("strong","strung")

hamming distance between abcde & bcdef is: 5
hamming distance between abcde & abcde is: 0
hamming distance between strong & strung is: 1

In [ ]:
SECTION B

In [ ]:
l = [1,2,'a','b']

def filter_list(l):
    new_list = []
    for x in l:
        if type(x) == int:
            new_list.append(x)
    return new_list

print(filter_list(l))

[1, 2]

In [ ]:
def string(str1):

    rstr1 = ''
    index = len(str1)
    while index > 0:
        rstr1 += str1[ index - 1 ]
        index = index - 1
    return rstr1
print(string('Vedant').swapcase())

TNADEv

In [ ]:
list=[1,6,8,9,5,4,"Ved","car","class",69]
first=list[0]
middle=list[1:-1]
last=list[-1]
print("first =",first ,"middle =",middle,"last = ",last)

first = 1 middle = [6, 8, 9, 5, 4, 'Ved', 'car', 'class'] last =  69

In [ ]:
def recur_factorial(n):
   if n == 1:
       return n
   else:
       return n*recur_factorial(n-1)

num = int(input("Enter the number : "))


if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   print("The factorial of", num, "is", recur_factorial(num))

Enter the number : 11
The factorial of 11 is 39916800

In [ ]:
def move_to_end(lst,el):
    lst.append(lst.pop(lst.index(el)))
    return lst

print(move_to_end([1, 3, 2, 4, 4, 1], 1))
print(move_to_end([7, 8, 9, 1, 2, 3, 4], 9))
print(move_to_end(["a","a","a","b"], "a"))

[3, 2, 4, 4, 1, 1]
[7, 8, 1, 2, 3, 4, 9]
['a', 'a', 'b', 'a']

SECTION C

In [ ]:
def multichar(text, n):
    return ''.join([x * n for x in text])
multichar("VedIKA",2)

'VVeeddIIKKAA'

In [ ]:
def reverse(arg):
	if isinstance(arg, bool):
		return not arg
	else:
		return('boolean expected')

def reverse(arg=None):
	return not arg if type(arg) == bool else "boolean expected"

print(reverse(True)) 
print(reverse(False)) 
print(reverse(0)) 
print(reverse(None))

False
True
boolean expected
boolean expected

In [ ]:
def fn(a):
    res = 0.5
    for i in range(a):
        res *= 2
    
    return res / 1000 
fn(1)

0.001

In [ ]:
test_str = 'Vedikachalke'
 

print("The original string is : " + str(test_str))
 

res = [idx for idx in range(len(test_str)) if test_str[idx].isupper()]
 

print("Uppercase elements indices : " + str(res))

The original string is : Vedikachalke
Uppercase elements indices : [0]

In [ ]:
listl=[i for i in range (4) if(i%2==0)]

print(listl)

[0, 2]

SECTION D

In [ ]:
l = [6,9,4,'vedika','chalke']
output = [x for x in l if type(x) != str]
print(output)

[6, 9, 4]

In [ ]:
import math
pi = math.pi
def volume(r, h):
    return (1 / 3) * pi * r * r * h
def surfacearea(r, s):
    return pi * r * s + pi * r * r
radius = float(2)
height = float(3)
slat_height = float(5)
print( "Volume Of Cone : ", volume(radius, height) )
print( "Surface Area Of Cone : ", surfacearea(radius, slat_height) )

Volume Of Cone :  12.566370614359172
Surface Area Of Cone :  43.982297150257104

In [ ]:
def missing_num(lst):

   for n in range(1,11):

       if n not in lst:

           print(n)

lst = (1,3,4,5,6,7,8,9,10)

missing_num(lst)

2